/* * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: linear-gradient(to left, #1b1c20, #434866); */
body{
    background-color: #1d243d;
}
#principal{
    background-color: #353d60;
    width: 1200px;
    padding: 15px;
    margin: 0px auto;
    border-radius: 80px 80px 0 0;
    box-shadow: -10px 10px 5px 0px #000000;

}
nav{
    font-weight: bold;
    width: 800px;
    padding-right: 15px;
    margin: 50px auto;
}
#contatos{
    margin: 10px auto;
    border-top: 3px dashed white;
    border-radius: 0 0 80px 80px;
    height: 200px;
    width: 1230px;
    background-color: #0a0e1a;
    box-shadow: -10px 10px 5px 0px #000000;

    
}
#contats{
    margin: 50px auto;
    text-align: center;
}
#sobreuator{
    margin-left: 1000px;
}
#natal{
    width: 400px;
    margin: 2px auto;

}
#menu{
    font-family: Courier;
    color: black;
    background-color: #c6caeb;
    border-left: 5px solid #9aa0c8;
    border-bottom: 5px solid #9aa0c8;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    border-radius: 80px;
    box-shadow: -10px 10px 5px 0px #000000;


}
h1{
    text-align: center;
    width: 780px;
    font-family: Courier;
    color: white;
    padding: 10px;
    margin: 0 auto;
}
h2{
    text-align: center;
    width: 720px;
    font-family: Courier;
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin: 0 auto;
    padding: 10px 40px;

}